:root {
  --white: #f7f7f7;
  --black: #292b2c;
  --red: #ff4444;
  --yellow: #ffbb33;
  --info-blue: #33b5e5;
  --green: #00C851;
  --primary-blue: #4285F4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*font-family: Arial, Helvetica, sans-serif;*/
  font-family: "Poppins", sans-serif;
}

h1 {
  color: #426696;
  font-weight: 600;
  font-size: 3rem;
  -webkit-opacity: 0.8;
  opacity: 0.8;
}

h2, p{
  color: #658ec6;
  font-weight: 500;
  -webkit-opacity: 0.8;
  opacity: 0.8;
}

h3 {
  color: #426696;
  font-weight: 600;
  -webkit-opacity: 0.8;
  opacity: 0.8;
}

main {
  height: 100vh;
  background-color: #000000;
  background-image: linear-gradient(
    147deg,
    #000000 0%,
    #434343 74%
  );
  display: flex;
  align-items: center;
  justify-content: center;
}

.glass {
  background: white;
  min-height: 80vh;
  max-height: 95%;
  width: 60%;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  border-radius: 2rem;
  z-index: 3;
  backdrop-filter: blur(2rem);
  display: flex;
}

.circle-1, .circle-2 {
  background: black;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.3)
  );
  height: 20rem;
  width: 20rem;
  position: absolute;
  z-index: 1;
  border-radius: 50%;
}

.circle-1 {
  top: 9.9%;
  right: 19.9%;
}

.circle-2 {
  left: 19.9%;
  bottom: 9%;
  opacity: 10%;
  -webkit-opacity: 0.1;
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  flex: 1;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.3)
  );
  border-radius: 2rem;
}

.gen-token-link {
  display: flex;
  margin: 5rem 0rem;
  padding: 1rem 5rem;
  align-items: center;
  width: 100%;
}

.gen-token-link.active {
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.3)
  );
}

.gen-token-link.active > h2 {
  color: #426696;
}

.gen-token-link:hover {
  cursor: pointer;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.3)
  );
}

.gen-token-link > h2:hover {
  color: #426696;
}

.gen-token-link h2 {
  font-size: 12.5pt;
  font-weight: 600;
  padding: 0rem 2rem;
  color: var(--black);
}

.github-credits {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 8rem;
  color: var(--white);
  border-radius: 2rem;
  padding: 1rem;
  margin: 1rem;
}

.github-credits > h3 {
  -webkit-opacity: 0.95;
  opacity: 95%;
  width: 40%;
  color: var(--white);
}

.github-logo {
  opacity: 90%;
  -webkit-opacity: 0.9;
}

.container {
  flex: 3;
}

.status {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-gradient {
  background-image: linear-gradient(
    to right, #283048 0%,
    #859398  51%, #283048  100%
  )
}

.btn-gradient {
  transition: 0.5s;
  background-size: 200% auto;
  color: white;            
  box-shadow: 0 0 20px #eee;
}

.btn-gradient:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.connect-web3-btn {
  margin: 1rem 1rem;
  border: none;
  border-radius: 2rem;
  height: 2rem;
  width: 6.5rem;
  font-size: 8pt;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.connect-web3-btn > p {
  color: gray;
  margin-left: 0.25rem;
  font-weight: 600;
}

.web3-status-icon {
  width: 0.5rem;
  height: 0.5rem;
  margin-right: 0.25rem;
}

.main-content {
  padding: 1rem 1rem;
}

.top-nav {
  display: none;
}

.status > div {
  margin: 0rem 1rem;
}

.status > div > h1 {
  font-size: 30pt;
  color: black;
}

.status > div > p {
  color: black;
  font-size: 11pt;
}

.modal {
  position: absolute;
  width: 35%;
  border: none;
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal.stan {
  height: 60%;
}

.modal.fiveup {
  height: 65%;
}

.modal.tenup {
  height: 70%;
}

.modal-btn {
  width: 40%;
  height: 4rem;
  color: gray !important;
  border: none;
  border-radius: 2rem;
  font-size: 14pt;
  font-weight: 700;
}

.pvtk-modal {
  padding: 2rem 2rem;
}

.modal-explain {
  color: black;
  font-size: 11pt;
  margin: 2rem 2rem;
  text-align: center;
}

.pvtk-input {
  margin: 2rem 0rem !important;
  padding: 2rem 2rem;
}

.confirm-button {
  margin-top: 2rem;
}

.mintable-burnable-switches {
  margin-top: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
  display: flex;
  flex-direction: row !important;
  justify-content: space-around;
}

.deploy-token-card {
  margin: 2rem 0rem;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  height: 100%;
}

.switch-label {
  -webkit-opacity: 0.75;
  opacity: 0.75;
  font-weight: 500;
  /*color: #000000;*/
  color: #121212;
}

.slider-comps {
  margin: 5rem 2rem;
}

.deploy-token-comp {
  display: flex;
  flex-direction: column;
}

.deploy-token-comp.class2 {
  margin-top: 6rem;
}

.deploy-token-btn-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.deploy-token-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4rem;
  width: 12rem;
  font-weight: 600;
  font-size: 16pt;
  border: none;
  border-radius: 2rem;
  box-shadow: 0 0 0px #eee;
}

.secondary-btn-tkn {
  background: linear-gradient(
    to right, rgba(255, 255, 255, 0.8) 0%,
    rgba(255, 255, 255, 0.3)  51%, rgba(255, 255, 255, 0.8)  100%
  );
  transition: 0.5s;
  background-size: 200% auto;
  color: gray;
}

.secondary-btn-tkn:hover {
  background-position: right center;
  color: #121212;
  -webkit-opacity: 0.2;
  opacity: 0.2;
  text-decoration: none;
  cursor: pointer;
}

.tkn-ns-title {
  font-size: 30pt;
  color: black;
  -webkit-opacity: 0.8;
  opacity: 0.7;
  font-weight: 600;
  margin: 0rem 2rem;
  margin-top: 2rem;
}

.network-switches-container {
  margin: 2rem 2rem;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.network-exper-switch {
  margin: 2rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

@media (max-width: 1250px) {
  .gen-token-link  {
    padding: 1rem 3rem;
  }
}

@media (max-width: 950px) {
  .glass {
    min-height: 90vh;
    width: 90%;
    display: initial;
  }

  .sidebar {
    display: none !important;
  }

  .top-nav {
    display: flex !important;
    height: 9vh;
    background: linear-gradient(
      to right bottom,
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.3)
    );
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
  }
}

.menu-icon {
  width: 2rem;
  height: 2rem;
  margin: 0rem 1rem;
  color: gray;
}

.menu-icon:hover {
  cursor: pointer;
  color: white;
  -webkit-opacity: 0.2;
  opacity: 0.2;
}

.Toastify__toast--error {
  background-color: #f44336;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  line-height: 1.43;
  font-size: 0.875rem;
}

@media (max-width: 480px) {
  #main-connect-web3-btn {
    display: none !important;
  }

  .glass {
    min-height: 100vh;
    width: 100%;
    border-radius: 0rem;
  }

  .top-nav {
    border-radius: 0rem;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .status > h1 {
    font-size: 20pt;
    color: black;
  }
  
  .connect-web3-btn > p {
    letter-spacing: -1px;
  }
}